<div class="card">
    <img class="card-img" src="{{ imagen }}" alt="">
    <div class="card-info">
        <div class="card-top">
            <h2 class="card-info_categoria">{{ categoria | uppercase }}</h2>
            <h3 class="card-info_titulo">{{ titulo }}</h3>

            <p>{{ contenido }}</p>

            {{ destacado }}
            <p class ="card-destacado" *ngIf="destacado">
                oferta inbatible
            </p>
            <p class ="card-destacado" *ngIf="!destacado">
                oferta no es inbatible
            </p>

            <!-- <ul> -->
                <!-- <li *ngFor="let numero of numeros"> -->
                    <!-- este compartimiento tiene el numero: {{numero}} -->
                <!-- </li> -->

            <!-- </ul> -->
        
        </div>

        <p class="card-info_precio">
                ${{ precio }}<br>
                <!-- // {{precio| currency}} para que ponga la moneda natal del usuario -->
            Incluye impuestos, tasas y cargos.
        </p>
    </div>
</div>
