
<div class="image" style="height: 100vw;width:100vw;" [ngStyle]="{'background': 'url(assets/rock/fuegos.jpg) no-repeat 0 0'}">
    <app-nav></app-nav>
    <app-slider></app-slider>
    <br>
    
<h1>
MusicExplore es una libreria musical creada para todo aquel que busque descubrir y sorprenderse,
directamente desde la publicacion del artista a tu oido, directamente al fuego de tu corazon!!!!!
</h1>


<h2>
    ARTISTA DEL MES 
</h2>

<h3>Nombre artístico de James Newell Osterberg; Ann Arbor, Michigan, 1947) Iggy Pop es también conocido como La Iguana, sobrenombre que procede de su primera aventura en la música como batería de un grupo local llamado The Iguanas; después tocó en una banda de Blues llamada The Prime Movers.</h3>




<img src="assets/rock/iggypop2.jpg">
<audio src="/assets/musica/thedoors.mp3" controls autoplay></audio>
</div>





